<div class="top-seller-card">
  <div class="top-seller-content">
    <div class="top-seller-title-container">
      <p class="top-seller-product-title">CREATINE MONOHYDRATE</p>
      <a href="https://example.com">
        {% comment %} <div class="arrow-container"> {% endcomment %}
        <img
          src="{{'icon-arrow-right-corner.svg' | asset_url}}"
          alt="Arrow"
          width="100%"
          height="100%"
        >
        {% comment %} </div> {% endcomment %}
      </a>
    </div>

    <p class="top-seller-product-text">
      Creatine Monohydrate is a popular dietary supplement widely used in fitness circles, known for enhancing muscle
      strength, improving exercise performance, and supporting muscle recovery. It works by increasing the body's
      production of ATP, the primary energy currency of cells.
    </p>
  </div>
  <div class="top-seller-image">
    <img src="{{'creatine-flat-can.png' | asset_url}}" alt="Top seller product" width="100%" height="100%">
  </div>
</div>
