<!doctype html>
<html lang="en">
  <head>
    <!-- Include Shopify head components -->
    {{ content_for_header }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >
    <link href="{{ 'reset.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'styles.css' | asset_url }}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script defer="defer" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>
  <body>
    {% section 'header-custom' %}

    {{ content_for_layout }}
  </body>
</html>
