:root {
  --font-family-primary: "Karla", sans-serif;
  --font-family-secondary: "Montserrat", sans-serif;
  --color-primary: rgba(128, 128, 128, 1);
  --color-accent: rgba(66, 171, 222, 1);
  --color-black: rgba(35, 31, 32, 1);
  --color-white: rgb(255, 255, 255);
  --color-light-grey: rgba(248, 248, 248, 1);
  --font-size-small: 15px;
  --font-size-large: 24px;
}

.header-custom {
  margin: 10px 0;
  max-width: 1990px;
}

@media screen and (max-width: 600px) {
  .header-logo {
    margin-left: 10px;
  }
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 173px;
}

.header-list {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

.header-list li {
  list-style: none;
}

.header-list a:hover,
.header-list a:active {
  color: var(--color-accent);
}

.header-list a {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--color-primary);
  font-family: var(--font-family-primary);
}

.button-small {
  background-color: var(--color-accent);
  padding: 14px 30px;
  color: var(--color-white);
  border: none;
  border-radius: 100px;
  font-size: 15px;
  font-family: var(--font-family-secondary);
  text-decoration: none;
}

.burger-check {
  display: none;
}

/*--------------------------------------
 Sets the actionable area for the burger
 including a label for usability
--------------------------------------*/
.burger {
  position: relative;
  float: right;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.burger:after {
  position: absolute;
  left: 0px;
  width: 100%;
}

/*--------------------------------------
 Creates the look of the burger icon
 using the inner span and pseudo-elements
--------------------------------------*/
.burger span,
.burger span:before,
.burger span:after {
  position: absolute;
  left: 10px;
  top: 22px;
  width: 40px;
  height: 4px;
  background: var(--color-accent);
  border-radius: 0.2em;
  /* -webkit-transition: all 0.3s; */
  transition: all 0.3s;
  box-sizing: border-box;
}

/* Reset the left and create the pseudo-element */
.burger span:before,
.burger span:after {
  content: "";
  left: 0;
}

/* Top bar position */
.burger span:before {
  top: -10px;
}

/* Bottom bar position */
.burger span:after {
  top: 10px;
}

/* Get rid of more on action (IE9 or higher) */
.burger-check:checked + .burger:after {
  content: "";
}
/* Get rid of the middle bar on action (IE9 or higher) */

.burger-check:checked + .burger span {
  height: 0;
  width: 0;
}

/* Moves the top and bottom bars to the middle on action (IE9 or higher) */
.burger-check:checked + .burger span:before,
.burger-check:checked + .burger span:after {
  top: 6px;
}

/* Rotates the top bar on action with full browser support (IE9 or higher) */
.burger-check:checked + .burger span:before {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* Rotates the bottom bar on action with full browser support (IE9 or higher) */
.burger-check:checked + .burger span:after {
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(-225deg);
}

/*==============================================================================
 Simple reveal (IE9 or higher)
==============================================================================*/
span.boo {
  width: auto;
  margin-top: 0;
  line-height: 60px;
  height: 0;
  overflow: hidden;
}

/* Reveals Boo! (IE9 or higher) */
#main-nav-test:checked ~ .boo {
  height: 50px;
}

/*==============================================================================
 Simple mobile menu opening and closing (IE9 or higher)
==============================================================================*/
.a-header {
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  min-height: 50px;
  overflow: hidden;
  z-index: 2;
  top: -45px;
}

.a-header ul {
  position: relative;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.a-header ul li {
  display: block;
}

.nav-link {
  position: relative;
  /* float: left; */
  width: 100%;
  height: 0;
  line-height: 42px;
  text-decoration: none;
  overflow: hidden;
  color: var(--color-black);
  text-align: center;
  font-size: 28px;
  font-family: var(--font-family-secondary);
  font-weight: 400;
  display: block;
  /* padding: 15px 0; */
  /* border-top: 1px solid var(--color-primary); */
  transition: height 0.3s ease;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  text-decoration: none;
  color: var(--color-accent);
}

.button-large:hover {
  color: var(--color-accent);
  background-color: var(--color-white);
  border: 1px solid var(--color-accent);
  width: 98%;
}

/* Animate height of 'a' element in order to reveal the menu on check (IE9 or higher) */
#main-nav:checked ~ ul {
  visibility: visible;
}

#main-nav:checked ~ ul .nav-link {
  padding: 15px 0;
  height: auto;
}

#main-nav:checked ~ ul li {
  border-top: 1px solid var(--color-primary);
  display: block;
}

#main-nav:checked ~ ul li:last-child {
  border-top: 1px solid var(--color-primary);
}

#main-nav:checked ~ ul .button-large {
  visibility: visible;
}

#main-nav ~ ul .button-large {
  visibility: hidden;
  margin-top: 10px;
}

.button-large {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  border-radius: 100px;
  font-size: 15px;
  font-family: var(--font-family-secondary);
  text-decoration: none;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  display: inline-block;
}

@media only screen and (min-width: 900px) {
  .a-header {
    display: none;
  }
  .header-navigation,
  .button-small {
    display: flex;
  }
}

@media only screen and (max-width: 899px) {
  .a-header {
    display: block;
  }
  .header-navigation,
  .button-small {
    display: none;
  }
  .header-container {
    justify-content: left;
    position: relative;
    z-index: 1;
  }
}

/*** Collections Slider Section ***/
.collection-slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.collection-title,
.collection-amount {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;
}

.collection-title:hover,
.collection-title:active,
.collection-amount:hover,
.collection-amount:active {
  color: var(--color-black);
}

.collection-content-item {
  display: flex;
  gap: 10px;
}

.collection-amount {
  font-size: 30px;
}

.collection-text-container {
  width: 510px;
  margin-bottom: 20px;
}

.collection-text {
  font-family: Karla, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--color-primary);
}

.product-container {
  background: var(--color-light-grey);
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.product-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: var(--color-black);
}

.product-weight {
  font-family: Karla, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-primary);
}

.product-price {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: var(--color-accent);
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-wrapper {
  margin-bottom: 20px;
}

.arrow-left,
.arrow-right {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.gap {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-decor {
  text-decoration: none;
}
